
  .box {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }
  
  .swatch {
    margin-top: 8%;
    margin-left: 8%;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px rgb(44, 44, 44) solid;
    box-shadow: 1px 3px 5px;
  }

  .win {
    background-color: rgb(137, 219, 137);
  }